* { 
    background-color: bisque;
    padding: 0;
    margin: 0;
    font-family: Caveat;

}





/* title animation and title */
@keyframes background{
    0% {background-image: linear-gradient(72deg, rgb(245, 142, 83), rgb(243, 227, 155));}
    25% {background-image: linear-gradient(144deg, rgb(245, 142, 83), rgb(243, 227, 155))}
    50% {background-image: linear-gradient(216deg, rgb(245, 142, 83), rgb(243, 227, 155))}
    75% {background-image: linear-gradient(288deg, rgb(245, 142, 83), rgb(243, 227, 155))}
    100% {background-image: linear-gradient(360deg, rgb(245, 142, 83), rgb(243, 227, 155))}
    
}

#title {
    font-size: 13vw;
    border: 40px;
    border-radius: 40px;
    border-color: rgb(240, 171, 132);
    padding: 20px, 20px, 20px,20px;
    border-style: inset;
    background-color: rgb(240, 171, 132);
    box-shadow: 2px, 2px, rgb(200, 133, 94), inset;
    color: bisque;
    animation-name: background;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    
}


/* full width of screen */
.full-width {
    width: 100vw;
}

/* cover image proportions */
#cover-img{
    height: 200px;
    object-position: 70%, 30%; /* 70 width and 30 height */
}


/* the div of the cover */
#cover-div{
    object-fit: cover;
    height: 400px;
    width: 70vw; 
    cursor: pointer;
    transition: 0.3;
}

#cover-div:hover{
    box-shadow:  10px 1px rgb(200, 133, 94);
    cursor: pointer;
}


/* size of each 'card' */
.card {
    width: 300px;
    height: 300px;
    cursor: pointer;
    margin: 10px;
    border-radius: 25px;
}


.card:hover{
    box-shadow: 10px 10px 1px rgb(200, 133, 94);
    opacity: 0.75;
}



/* ------------------- columns ------------------- */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}


/* ------------------- media tags / gallery items ----------------- */

#gallery-div {
    display: grid;
    justify-content: center;
    grid-template-areas:
    "item1 item2 item3 item4";
}


@media (max-width: 1200px){
    #gallery-div {
        grid-template-areas:
        "item1 item2 item3 item4"
        "item5 item6 item7 item8"
        "item9 item10 item11 item12";
    }
}



@media (max-width: 1000px){
    #gallery-div {
        grid-template-areas:
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item8"
        "item9 item10"
        "item11 item12";
    }
}

@media (max-width: 600px){
    #gallery-div {
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8"
        "item9"
        "item10"
        "item11"
        "item12";
    }
}

@media (max-width: 400px){
    #cover-img {
        display:none
    }
}

/*-------------------------------------------------------------------------------------------------*/


/* item 1 */
#item1 {
    background-image: url(images/ginger-cat-neutral.jpg);
    background-size: cover;
    background-position: 30%, 70%;
}

#item1:active{
    background-image: url(images/ginger-cat-growling.jpg);
}


/* item 2 */
#item2 {
    background-image: url(images/ginger-cat-neutral.jpg);
    background-size: cover;
    background-position: 30%, 70%;
}

#item2:active{
    background-image: url(images/ginger-cat-purring.jpg);
}


/*item 3 */
#item3 {
    background-image: url(images/ginger-cat-neutral.jpg);
    background-size: cover;
    background-position: 30%, 70%;
}

#item3:active{
    background-image: url(images/ginger-cat-purring.jpg);
}


/* item 4 */ 
#item4 {
    background-image: url(images/ginger-cat-neutral.jpg);
    background-size: cover;
    background-position: 30%, 70%;
}



#item4:active{
    background-image: url(images/ginger-cat-purring.jpg);
}

/* item 5 */
#item5 {
    background-image: url(images/ginger-cat-neutral.jpg);
    background-size: cover;
    background-position: 30%, 70%;
}

#item5:active{
    background-image: url(images/ginger-cat-growling.jpg);
}

/* item 6 */
#item6 {
    background-image: url(images/ginger-cat-neutral.jpg);
    background-size: cover;
    background-position: 30%, 70%;
}

#item6:active{
    background-image: url(images/ginger-cat-growling.jpg);
}
/* item 7 */
#item7 {
    background-image: url(images/ginger-cat-neutral.jpg);
    background-size: cover;
    background-position: 30%, 70%;
}

#item7:active{
    background-image: url(images/ginger-cat-purring.jpg);
}
/* item 8 */
#item8 {
    background-image: url(images/ginger-cat-neutral.jpg);
    background-size: cover;
    background-position: 30%, 70%;
}

#item8:active{
    background-image: url(images/ginger-cat-growling.jpg);
}
/* item 9 */
#item9 {
    background-image: url(images/ginger-cat-neutral.jpg);
    background-size: cover;
    background-position: 30%, 70%;
}

#item9:active{
    background-image: url(images/ginger-cat-purring.jpg);
}
/* item 10 */
#item10 {
    background-image: url(images/ginger-cat-neutral.jpg);
    background-size: cover;
    background-position: 30%, 70%;
}

#item10:active{
    background-image: url(images/ginger-cat-growling.jpg);
}
/* item 11 */
#item11 {
    background-image: url(images/ginger-cat-neutral.jpg);
    background-size: cover;
    background-position: 30%, 70%;
}

#item11:active{
    background-image: url(images/lying-garfield.png);
}
/* item 12 */
#item12 {
    background-image: url(images/ginger-cat-neutral.jpg);
    background-size: cover;
    background-position: 30%, 70%;
}

#item12:active{
    background-image: url(images/ginger-cat-purring.jpg);
}

